    @import url(HanyiSentyJournal.woff);
    @import url(setofont.ttf);
    select{
        font-family:"Hanyi Senty Journal","setofont","微軟正黑體" !important;
    }
    input{
        font-family:"Hanyi Senty Journal","setofont","微軟正黑體" !important;
    }
    footer{
        background-color:#cbe2e4;
        padding:10px;
        width:90%;
        height:50px;
        text-align:center;
        font-size:20px;
    }
    html{
        height: 100%;
        width:100%;
        margin: 0;
        padding:0;
    }
    body{
        width:100%;
        height:100%;
        background-repeat:no-repeat;
        background-size:100%;
        background-position:center top;
        background-color:#cbe2e4;
        display:block;
        border:0;
        margin:0;
        padding:0;
        font-family:"Hanyi Senty Journal","setofont","微軟正黑體" !important;
    }
    .line_left{
        border-left:2px solid white;
        height:100%;
        color:#ffd9e6;
        margin:0;
    }
    .button_css{
        background-color:rgba(36,54,125,0);
        border:0 ;
        color:#465146;
        padding:10px;
        position:relative;
        margin:auto;
        display:inline;
        font-size:15px;
        font-weight:bold;
    }
    .wrapper{
        min-height:100%;
    }
    ul{
        list-style:none;
    }
    header{
        z-index:9999;
        height:85px;
        position:fixed;
        top:10px;
        left:0;
        width:99%;
        background-color:rgba(203,226,228,0.6);
    }